body {
    padding-top: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    
    
}
.navbar-nav{
    margin-left: 50px;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    float: right;
}
.form-control {
    width: 100px;
    margin-left: 20px;
}
.scooter {
  width: 580px;
  animation: ride 4s linear infinite;
  position: relative;
}

@keyframes ride {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(-100px);
  }
}
.text-start{
    text-align: left;
}
.popular-scroll {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
}

.popular-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.restaurant-scroll {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
}
.restaurant-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}



